@model DisqusPartViewModel

<div class="form-group">
    <div class="form-check">
        <label class="form-check-label" asp-for="HideComments">
            <input asp-for="HideComments" type="checkbox" class="form-check-input" />
            @T["Hide comments"]
        </label>
    </div>
</div>